.friends {
    background-color: #FFFFFF;
    height: 780px;
    width: 1200px;
    left: 120px;
    top: 120px;
    border-radius: 4px;
    margin: 5% auto;
    padding: 20px 60px;

}

label {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}

input {
    height: 32px;
    width: 997px;
    left: 0px;
    top: 18px;
    border-radius: 4px;
    padding: 8px;
    border: 0,5px solid #000000;
}

.btn-search {
    height: 32px;
    width: 75px;
    left: 1005px;
    top: 18px;
    border-radius: 4px;
    margin-left: 8px;
    background-color: #6C69FF;
}

h3 {
    margin: 20px 0;
}

.btn-search,
.friends,
input {
    box-shadow: 0px 0px 4px 0px #00000040;
    border-radius: 4px;
}


